<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>
        <a href="/"> Home</a>
        <a href="/deleteAll"> Delete All Completed Tasks</a>
        <a href="/newDeveloper"> Add a new Developer</a>
        <a href="/listDeveloper"> List all Developers</a>
        <a href="/newTask"> Add new Task</a>
        <a href="/listTask"> List all Tasks</a>
        <a href="/updateTask"> Update Task</a>
        <a href="/deleteTaskID"> Delete Task By ID</a>
    </h1>
    <form action="/deleteAll" method="POST">
        Task Status<select method="POST" name='taskstatus'>
            <option value="Complete">Complete</option>
        </select> </br>
        <input type="submit" value="Submit" /> </br>
    </form>
</body>

</html>