<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="style.css">
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <h1>
        <h1>
            <a href="/"> Home</a>
            <a href="/deleteAll"> Delete All Completed Tasks</a>
            <a href="/newDeveloper"> Add a new Developer</a>
            <a href="/listDeveloper"> List all Developers</a>
            <a href="/newTask"> Add new Task</a>
            <a href="/listTask"> List all Tasks</a>
            <a href="/updateTask"> Update Task</a>
            <a href="/deleteTaskID"> Delete Task By ID</a>
        </h1>
    </h1>
    <h3>All the tasks are:
        <table>
            <tr>
                <td>Task ID</td>
                <td>Name</td>
                <td>Developer</td>
                <td>Due Date</td>
                <td>Task Status</td>
                <td>Description</td>
            </tr>
            </tr>
            <% for ( var i =0; i < taskDb.length;i++){ %>
            <tr>
                <td>
                    <%= taskDb[i]._id %>
                </td>
                <td>
                    <%= taskDb[i].taskname %>
                </td>
                <td>
                    <%= taskDb[i].developer %>
                </td>
                <td>
                    <% d= new Date (taskDb[i].dueDate )%>
                    <%= d.getDate()+ " /" + (d.getMonth()+1) + " /" + d.getFullYear()   %>
                </td>
                <td>
                    <%= taskDb[i].taskStatus %>
                </td>
                <td>
                    <%= taskDb[i].taskDescription %>
                </td>
            </tr>
            <% }%>
    </h3>
</body>

</html>